<div id="wrapper">
    <!---header !---->
    <app-header></app-header>
    <!---header !---->
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a class="navbar-brand" href="#"><span><img src="../assets/imageedit_1_7636352561.png" height="50px"></span>SCHOOL</a>
            </li>

            <li>
                <a [routerLink]="['userPlan']"><i class="fa fa-dashboard fa-fw fa-1x"></i> UserPlan</a>
            </li>
            <li>
                <a [routerLink]="['user']"><i class="fa fa-user fa-fw fa-1x"></i> UserPlan</a>
            </li>

            <li>
                <a [routerLink]="['home']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Dashboard</a>
            </li>
            <li>
                <a [routerLink]="['profile']"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li>
                <a [routerLink]="['blank']"><i class="fa fa-fw fa-folder"></i> About</a>
            </li>

            <li>
                <a [routerLink]="['setting']"><i class="fa fa-camera fa-fw"></i> User</a>
            </li>
            <li>
                <a [routerLink]="['setting']"><i class="fa fa-university fa-fw"></i> Role</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-file-o"></i>CrewType</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-train fa-fw" aria-hidden="true"></i> Trains <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>List all Trains</a></li>
                    <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>Train Type</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Stations <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">List all Stations</a></li>
                    <li><a href="#">Divisions</a></li>

                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> DrivingSection <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">List all DrivingSections</a></li>
                    <li><a href="#">Create DrivingSection</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> DrivingDuty <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">List all DrivingDuty</a></li>
                    <li><a href="#">Create DrivingDuty</a></li>

                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> RoundTrip <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">List All RoundTrip </a></li>
                    <li><a href="#">Create RoundTrip</a></li>
                    <li><a href="#">RoundTrip Analysis</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> CrewLink<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li><a href="#">List All CrewLink</a></li>
                    <li><a href="#">Create CrewLink</a></li>
                    <li><a href="#">CrewLink Summary Stations</a></li>

                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Pilot<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Create Pilot</a></li>
                    <li><a href="#">Pilot Type </a></li>
                    <li><a href="#">List of Pilot</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Search<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Find Items</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Improve Suggestions<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Improve Driving Section</a></li>
                    <li><a href="#">Improve Long Driving Duty</a></li>
                    <li><a href="#">Improve  Driving Duty With Daily Pilots</a></li>
                    <li><a href="#">Improve  RoundTrip With Excess OSR</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!---<app-footer></app-footer> !-->
</div>
<!-- /#wrapper -->