<h2>
    CREWLINK: DECISION SUPPORT SYSTEM</h2>
<p>
    Decision Support System to Make Crew Links Making crew links in any railway system is a complex mathematical problem. Manually
    making new crew links for 200 crews takes at least 15 days. Changing an existing link to accommodate new trains also
    takes a lot of time. Optimization of crew links is a complex task even with software and attempting it manually is impossible.
    We have solved this mathematically complex problem and made a software for it. This software is uploaded on the cloud.
    It can be used from anywhere with an internet connection. It is ready for use and it is available for subscription. If
    you want to know more, please call Dr. Manish Kumar at +91-9481578871. CREW BENEFITS OF BETTER LINKS Increase in mileage
    Elimination of excess running room rest Timely periodic rest More time at home leading to happy work-life balance. FREQUENCY
    of CHANGES in CREW LINKS Crew links are changed for obvious reasons such as introduction of new trains, increase in frequency
    of existing trains, and changes in train timings. Many other operational changes also require new crew links. Some of
    them are: change of traction from diesel to electric; change of conventional passenger rakes to MEMU or DMU. These incremental
    changes also need new crew links. FEATURES OF THE DECISION SUPPORT SYSTEM It is a web based system hosted on cloud which
    ensures high reliability and easy accessibility. This can be used to make crew links of daily and weekly, long distance
    mail express and short distance passenger trains. A train journey is divided into driving sections of suitable length.
    The small driving sections can be clubbed to make a long crew duty. Pilot running or dead heading of crew is accommodated
    in crew duty. Efficient round trips are made for all the duties. The round trips are arranged in proper sequence to make
    crew links, satisfying headquarter rest and periodic rest requirements. Flexibility is the most important feature of
    the software and railways can make the crew links as per their choice and it is not dictated by the software. Crew links
    for daily trains and crew links for weekly trains can be clubbed which leads to additional saving. SUBSCRIPTION TO USE
    THE SOFTWARE The customers can subscribe to the software. Customers will receive training in the use of the software.
    We provide five day working hours (9AM to 5 PM) support for the software. This is just a telephone call away. Five days
    are Monday to Friday excluding Karnataka holidays. To know more about the subscription services please call Dr. Manish
    Kumar at 9481578871

</p>