<div id="wrapper">
    <!---header !---->
    <app-header></app-header>
    <!---header !---->
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a class="navbar-brand" href="#"><span><img src="../assets/imageedit_1_7636352561.png" height="50px"></span>SCHOOL</a>
            </li>

            <li>
                <a [routerLink]="['profile']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Profile</a>
            </li>
            <li>
                <a [routerLink]="['blank']"><i class="fa fa-user fa-fw fa-1x"></i> Home</a>
            </li>

            <li>
                <a [routerLink]="['home']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Dashboard</a>
            </li>


            <li>
                <a [routerLink]="['NoticeBoard']"><i class="fa fa-dashboard fa-fw fa-1x"></i> NoticeBoard</a>
            </li>


            <li>
                <a [routerLink]="['MailBox']"><i class="fa fa-dashboard fa-fw fa-1x"></i> MailBox</a>
            </li>


            <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Attandance</a>
            </li>

            <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Scheduler</a>
            </li>

               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Change Password</a>
            </li>

               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> TimeTable</a>
            </li>

               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> MarkAnalysis</a>
            </li>

               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Gallary</a>
            </li>
               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Student Graph</a>
            </li>

               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> Quiz</a>
            </li>

               <li>
                <a [routerLink]="['attandance']"><i class="fa fa-dashboard fa-fw fa-1x"></i> News</a>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Student Notification<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Improve Driving Section</a></li>
                    <li><a href="#">Improve Long Driving Duty</a></li>
                    <li><a href="#">Improve  Driving Duty With Daily Pilots</a></li>
                    <li><a href="#">Improve  RoundTrip With Excess OSR</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!---<app-footer></app-footer> !-->
</div>
<!-- /#wrapper -->