<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <div class="page-header">
                <h4>User</h4>
            </div>
        </div>
    </div>
</div>

<app-listUser></app-listUser>

<div class="panel panel-default">
    <div class="panel-heading">Create User</div>
    <div class="panel-body">
        <div class="col-lg-12" id="userFormDiv">
            <form (ngSubmit)="saveUser()">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label">User Name </label> <input type="text" class="form-control" placeholder="Enter User Name"
                            [(ngModel)]="usermodel.username" name="user">

                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label> <input type="password" class="form-control" placeholder="Enter Your Password"
                            [(ngModel)]="usermodel.password" name="pass">

                    </div>

                    <div class="form-group">
                        <label class="control-label">First Name</label> <input placeholder="Enter First Name" [(ngModel)]="usermodel.firstName"
                            type="text" class="form-control" name="first">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Last Name</label> <input placeholder="Enter Last Name" type="text" [(ngModel)]="usermodel.lastName"
                            class="form-control" name="last">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label> <input type="email" placeholder="your@email.com" class="form-control"
                            [(ngModel)]="usermodel.email" name="mail" />

                    </div>
                </div>
                <div class="col-lg-6">


                    <div class="form-group">
                        <label class="control-label">Address.</label> <textarea placeholder='Enter Address' cols="15" rows="5"
                            class="form-control" [(ngModel)]="usermodel.address" name="userAddress"> </textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label">City</label> <input type="text" placeholder='Enter your City' class="form-control"
                            [(ngModel)]="usermodel.city" name="userCity">
                    </div>

                    <div class="form-group">
                        <select [(ngModel)]="usermodel.roleCode" name="roleCode" class="form-control" #device (change)="onChange($event, device.value)">
                               <option value="" selected>--Select Role--</option>
                                <option *ngFor="let r of rolesList" [ngValue]="r.roleCode">{{r.roleCode}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Account Status</label>
                        <div class="checkbox">
                            <label> <input type="checkbox" value="false"
							[(ngModel)]="usermodel.userActive" name="userStatus">{{ usermodel.userActive ?
							'User Is Active':'User Is Not Active' }}
						</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Mobie No.</label> <input type="text" placeholder='Mobile Number' class="form-control"
                            [(ngModel)]="usermodel.mobileNo" name="mnumber">
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary btn-md">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save

				</button>
                    <button type="button" class="btn btn-danger btn-md" value="Reset"> Refresh
                        <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>