
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 120px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 260px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  background: #800000;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  padding-top:10px;
  width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #800000;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #800000;
  color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(3):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(4):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(5):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(6):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(7):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(8):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(9):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(10):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(11):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(12):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(13):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:nth-child(14):before {
  background-color : rgba(255,255,255,0.3);
}
.sidebar-nav li:hover:before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #fff;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #800000;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
